* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.background-image {
     position: absolute;
}

.container {
     display: flex;
     position: relative;
     height: 500px;
     width: 800px;
     margin: auto;
     box-shadow: 15px 15px 20px #000;
     margin-top: 50px;
}
.from {
     display: flex;
     flex-direction: column;
     width: 50%;
     align-items: center;
     background-color: #f5f5f5;
     h2 {
          font-size: 3rem;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          margin: 40px;
     }
}
.box {
     padding: 12px;
     width: 65%;
     margin: 15px;
     border: 1px solid #000;
     outline: none;
     border-radius: 20px;
}
#submit {
     padding: 12px 30px;
     width: 40%;
     margin-top: 40px;
     color: #fff;
     font-weight: bold;
     border: none;
     outline: none;
     border-radius: 20px;
     background-color: #000;
}
#submit:hover {
     background-color: #750000;
     cursor: pointer;
}
.form a {
     text-decoration: none;
     color: #000;
     margin-top: 20px;
}
.form a:hover {
     color: #fd4e4e;
}
.side {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     background-color: #750000;
}

.side img {
     width: 450px;
     height: 500px;
}
